.App {
  text-align: center;
}

.filter__placeholder {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.filter__placeholder_container {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
}
